.rrAutoEllipsis {
  display: inline-block;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rrAutoEllipsis--block {
  display: block;
  width: 100%;
}

